<% include partials/head.ejs %>

    <section class="user-window">
        <h1>Enter a twitter subject</h1>
        <form id="newHash" action="/results" method="POST">
            <input type="text" autofocus id="hash" name="hash" autocomplete="off" placeholder="obama, trump, ajax">
            <input type="submit" value="Enter hash">
        </form>
    </section>

<% include partials/footer.ejs %>
