<% include partials/head.ejs %>

    <main>
        <div class="tweets">
            <h1>Tweets:</h1>

            <ul id="tweetsHolder"></ul>
        </div>

        <section class="nicknameWrapper">
            <h1>Enter a username:</h1>
            <form id="setNickname">
                <input size="35" id="nickname">
                <input type="submit">
            </form>
        </section>

        <div class="users"></div>

        <div id="chat">
            <form type="POST" action="/results" id="send-message">
                <input id="message">
                <input type="submit">
            </form>
        </div>
    </main>

<% include partials/footer.ejs %>
