<% include partials/head.ejs %>

    <main>
        <h1>tweets:</h1>
        <h2 class="counter"></h2>

        <ul id="tweetsHolder"></ul>
        <ul id="countryHolder"></ul>
    </main>

<% include partials/footer.ejs %>
