* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #f5f8fa;
}

#chat {
  display: none;
  height: 400px;
  float: left;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  position: relative;
  width: 22%;
  background: #fff;
}

#chat #send-message {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.users {
  display: none;
}

.user-window {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-window form input {
  padding: 0.5em 0;
  font-size: 1.2em;
  border: 1px solid #a3a3a3;
  margin: 0.5em 0;
}

.user-window form input[type="submit"] {
  display: block;
  background: none;
  padding: 0.3em 0.5em;
}

.msg-window {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: hidden;
  width: 30em;
  transform: translate(-50%, -50%);
}

.msg-window input {
  border: 1px solid #a3a3a3;
  padding: 2.5em;
  width: 100%;
}

.msg-window button {
  padding: 0.5em;
  border: 1px solid #000;
  background: #fff;
  margin: 20px 0;
}

.msg-window {
  display: none;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 200px;
}

main ul {
  list-style: none;
  float: left;
}

#tweetsHolder {
  width: 70%;
  margin-right: 3%;
}

.nicknameWrapper {
  float: left;
  width: 20%;
}

main ul li {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
  background: #fff;
}

main h2 {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #1DA1F2;
}

.server-down {
  width: 100vw;
  padding: 2em;
  background: #1DA1F2;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
